<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9P3cJyAfHt1Tl9Ynu5b795enAp0TqVRM</string>
	<key>GCM_SENDER_ID</key>
	<string>552838762260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selfEdify</string>
	<key>PROJECT_ID</key>
	<string>selfedify-5469c</string>
	<key>STORAGE_BUCKET</key>
	<string>selfedify-5469c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552838762260:ios:f937491528729e95a0fc01</string>
</dict>
</plist>